[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pre-commit = "*"
black = "*"
pillow = "*"
django-debug-toolbar = "*"
django-livereload-server = "*"

[dev-packages]

[requires]
python_version = "3.12"
