<article class="flex{% if task.is_done %} bg-green-50{% endif %}">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li
                    {%
                    if
                    message.tags
                    %}class="text-red-600 {{ message.tags }}"
                    {%
                    endif
                    %}
                    >{{ message }}</li>
            {% endfor %}
        </ul>
        <script>
    setTimeout(function () {
      const messages = document.querySelector(".messages");
      if (messages) {
        messages.style.display = "none";
      }
    }, 2000);
        </script>
    {% else %}
        <div class="w-4/5 py-3">
            <p class="px-6 text-xs text-gray-900"
               hx-get="/tasks/{{ task.id }}/edit/"
               hx-target="this"
               hx-swap="outerHTML">{{ task.title }}</p>
        </div>
        <div class="w-1/5 px-6 py-3 flex justify-end space-x-4">
            {% if not task.is_done %}
                <form hx-put="/tasks/{{ task.id }}/update/"
                      hx-target="closest article"
                      hx-swap="outerHTML">
                    <button class="text-sky-600 hover:text-sky-900">Done</button>
                </form>
            {% endif %}
            <a href="#"
               class="text-sky-600 hover:text-sky-900"
               hx-confirm="Are you sure?"
               hx-target="closest article"
               hx-swap="outerHTML swap:0.5s"
               hx-delete="/tasks/{{ task.id }}/delete/">Delete</a>
        </div>
    {% endif %}
</article>
