[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pre-commit = "*"
black = "*"
pillow = "*"
django-debug-toolbar = "*"
django-livereload-server = "*"
django-environ = "*"
django-admin-honeypot1 = "*"
whitenoise = "*"
dj-database-url = "*"
psycopg2-binary = "*"
gunicorn = "*"
boto3 = "*"
mangum = "*"

[dev-packages]

[requires]
python_version = "3.12"
